@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #020617;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass-card{
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.gradient-text{
  background: linear-gradient(
    to right,
    #818cf8,
    #c084fc,
    #f472b6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}